In [1]:
print("halo")

halo

In [2]:
# integer


print(123)
print(type(123))

123
<class 'int'>

In [3]:
# floating point

print(123.0)
print(type(123.0))

123.0
<class 'float'>

In [4]:
# convert data type

print(int(123.5))
print(float(5))

123
5.0

In [5]:
# string
# dikutip '' atau ""

print('hai')
print(type('hai'))

hai
<class 'str'>

In [6]:
# convert data type

print(str(123.5))
print(str(5))
print(int('5'))
print(float('5'))

123.5
5
5
5.0

In [7]:
print(type( str(123.5)))
print(type( str(5)))
print(type( int('5')))
print(type( float('5')))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

In [8]:
# boolean
# True False
print(True)
print(False)
print(type(False))

True
False
<class 'bool'>

In [9]:
# convert data type

print(bool(123.5))
print(bool(5))
print(bool('5'))

True
True
True

In [10]:
# Falsy, data yang kalau di convert ke boolean akan jadi False
print(bool(0))
print(bool(0.0))
print(bool(""))
print(bool(''))

False
False
False
False

In [11]:
# list tuple dictionary
# kalau kosong juga dianggap False
print(bool([]))
print(bool(()))
print(bool({}))

False
False
False

In [12]:
# variable
# tipe data sebuah variable bebas
n = 10
n = 8.8
n = "hai"
n = True
n = 100
print(n)

100

## rules penulisan variabel
1. tidak dimulai dengan angka/simbol
2. seluruh spasi diganti dengan _
3. semuanya huruf kecil

### sintaks penulisan nama di coding
- camelCase --> function
- snake_case --> variable
- PascalCase --> class

In [13]:
kelas78 = "kelas python untuk data science"
nama_barang = "Logitech Mouse 0"
NamaBarang = "1"
Namabarang = "2"
Nama_barang = "3"
namaBarang = "4"
_namaBarang = "5"
_namaBarang_ = "6"
_namaBarang_ = "7"

In [14]:
print(Namabarang)

2

penulisan nama variable di python itu case sensitive, jadi untuk mengurangi kesalahan kita selalu gunakan huruf kecil semua, dan spasi kita ganti jadi _

In [15]:
# masukkan data ke variable
n = 100

print(n + 10)

# + - * / % **
print(n + 10)
print(n - 10)
print(n * 10)
print(n / 10)
print(n % 10) # mendapat sisa dari hasil pembagian
print(n ** 2)
print(n ** 0.5)

110
110
90
1000
10.0
0
10000
10.0

In [16]:
m = 75

print(n > m)

# > < >= <= != ==
print(n > m)
print(n < m)
print(n >= m)
print(n <= m)
print(n != m)
print(n == m)

True
True
False
True
False
True
False

In [17]:
# string bisa kita manipulasi
message = "halo"

# +
print(message + " halo Bandung")

halo halo Bandung

In [18]:
# kita bisa juga ubah case nya
message = "data SCIENCE for H8 class!"

print(message.lower())
print(message.upper())
print(message.title())

data science for h8 class!
DATA SCIENCE FOR H8 CLASS!
Data Science For H8 Class!

In [19]:

print(message.swapcase())
print(message.capitalize())

DATA science FOR h8 CLASS!
Data science for h8 class!

In [20]:
# operator in untuk string
# untuk mencari apakah ada text dalam text
print(message)

print("Hacktiv8" in message)

data SCIENCE for H8 class!
False

In [21]:
print("H8" in message)

True

In [22]:
print("h8" in message)

False

In [23]:
print("h8".lower() in message.lower())

True

In [24]:
# tipe data terstuktur List Tuple Dictionary

In [25]:
# List
buah_buahan = ["apel", "jeruk", "duku"]
print(buah_buahan)
print(type(buah_buahan))

['apel', 'jeruk', 'duku']
<class 'list'>

In [26]:
# convert data type list ke str
str_buah = str(buah_buahan)
print(str_buah, type(str_buah))

list_buah = list(str_buah)
print(list_buah, type(list_buah))

['apel', 'jeruk', 'duku'] <class 'str'>
['[', "'", 'a', 'p', 'e', 'l', "'", ',', ' ', "'", 'j', 'e', 'r', 'u', 'k', "'", ',', ' ', "'", 'd', 'u', 'k', 'u', "'", ']'] <class 'list'>

In [27]:
# List
# CRUD - create read update delete

# create
buah_buahan = ["apel", "jeruk", "duku"]

print("--- read ---")

# read
# pakai index untuk ambil 1 item
# item pertama, index 0
print(buah_buahan[0])

# item terakhir, index -1
print(buah_buahan[-1])

# teknik slicing untuk ambil bbrp item sekaligus
# semua item
print(buah_buahan[:])

# 2 item terakhir
print(buah_buahan[-2:])

# item index -2, kedua dari terakhir
print(buah_buahan[-2:-1])

# 2 item pertama
print(buah_buahan[:2])
print(buah_buahan[0:2])

print("--- update ---")

# update
# nambah item
buah_buahan.append("semangka")
print(buah_buahan)

# kurangi item
buah_buahan.remove("duku")
print(buah_buahan)

# ubah item
# misal kita mau ubah jeruk menjadi pisang
buah_buahan[1] = "pisang"
print(buah_buahan)

print("--- delete ---")

# delete
# bisa pakai remove, bisa pakai del
buah_buahan.remove("pisang")
print(buah_buahan)

del buah_buahan[0]
print(buah_buahan)

# del buah_buahan
# print(buah_buahan)

buah_buahan = []
print(buah_buahan)
print(bool(buah_buahan))

--- read ---
apel
duku
['apel', 'jeruk', 'duku']
['jeruk', 'duku']
['jeruk']
['apel', 'jeruk']
['apel', 'jeruk']
--- update ---
['apel', 'jeruk', 'duku', 'semangka']
['apel', 'jeruk', 'semangka']
['apel', 'pisang', 'semangka']
--- delete ---
['apel', 'semangka']
['semangka']
[]
False

In [28]:
# Tuple
buah_buahan = ("apel", "jeruk", "mangga")

print(buah_buahan)
print(type(buah_buahan))

# cara baca menggunakan index
# pakai index untuk ambil 1 item
# item pertama, index 0
print(buah_buahan[0])

# item terakhir, index -1
print(buah_buahan[-1])

# teknik slicing untuk ambil bbrp item sekaligus
# semua item
print(buah_buahan[:])

# 2 item terakhir
print(buah_buahan[-2:])

# item index -2, kedua dari terakhir
print(buah_buahan[-2:-1])

# 2 item pertama
print(buah_buahan[:2])
print(buah_buahan[0:2])

('apel', 'jeruk', 'mangga')
<class 'tuple'>
apel
mangga
('apel', 'jeruk', 'mangga')
('jeruk', 'mangga')
('jeruk',)
('apel', 'jeruk')
('apel', 'jeruk')

In [29]:
# tuple tidak bisa diubah isinya

# berikut akan error
# buah_buahan[0] = "kelapa"
# buah_buahan.append("melon")

In [30]:
# convert list ke tuple dan sebaliknya bisa
buah_buahan = list(buah_buahan)
print(type(buah_buahan))

buah_buahan = tuple(buah_buahan)
print(type(buah_buahan))

print(buah_buahan)

<class 'list'>
<class 'tuple'>
('apel', 'jeruk', 'mangga')

In [31]:
# Dictionary
# tidak punya index
# setiap item dalam dictionary adalah sepasang key:value
# key menggantikan index
# key harus string

buah_buahan = {"apel":10, "jeruk":5, "mangga":3}
print(buah_buahan)
print(type(buah_buahan))

{'apel': 10, 'jeruk': 5, 'mangga': 3}
<class 'dict'>

In [32]:
# akses/ read
# pakai key
print(buah_buahan["apel"])

10

In [33]:
# apa saja key dictionary ini?
print(list(buah_buahan.keys()))
print(list(buah_buahan.values()))
print(list(buah_buahan.items()))

['apel', 'jeruk', 'mangga']
[10, 5, 3]
[('apel', 10), ('jeruk', 5), ('mangga', 3)]

In [34]:
# cara edit dictionary
# menambah key baru
buah_buahan["melon"] = 1
print(buah_buahan)

{'apel': 10, 'jeruk': 5, 'mangga': 3, 'melon': 1}

In [35]:
# mengurangi key
del buah_buahan["jeruk"]
print(buah_buahan)

{'apel': 10, 'mangga': 3, 'melon': 1}

In [36]:
# edit value sebuah key
buah_buahan["apel"] = 0
print(buah_buahan)

{'apel': 0, 'mangga': 3, 'melon': 1}

In [37]:
orang = {
    "nama": "Andhika",
    "anak": [
        {"nama":"Budi"},
        {"nama":"Janet"},
        {"nama":"Hasnah"},
    ],
    "hobi": ["tidur", "makan", "sepeda"]
}

print(orang)

{'nama': 'Andhika', 'anak': [{'nama': 'Budi'}, {'nama': 'Janet'}, {'nama': 'Hasnah'}], 'hobi': ['tidur', 'makan', 'sepeda']}

In [38]:
orang = {
    "nama": "Andhika", 
    "anak": [
        {"nama":"Budi"}, 
        {"nama":"Janet"}, 
        {"nama":"Hasnah"},
    ], 
    "hobi": ["tidur", "makan", "sepeda"]
}